In [3]:
import pandas as pd
df=pd.read_csv('test.csv')
df.shape

(12086, 21)

In [8]:
new_dict=df.isnull().sum()

In [9]:
new_dict

tracking_id                         0
datetime                            0
wind_speed(m/s)                   126
atmospheric_temperature(°C)      1427
shaft_temperature(°C)               1
blades_angle(°)                   106
gearbox_temperature(°C)             1
engine_temperature(°C)              5
motor_torque(N-m)                  11
generator_temperature(°C)           5
atmospheric_pressure(Pascal)     1151
area_temperature(°C)                1
windmill_body_temperature(°C)     926
wind_direction(°)                2160
resistance(ohm)                     0
rotor_torque(N-m)                 281
turbine_status                    797
cloud_level                       125
blade_length(m)                  2114
blade_breadth(m)                    0
windmill_height(m)                255
dtype: int64

In [10]:
df1=df

In [7]:
import numpy as np

In [12]:
for column_name,na in new_dict.items():
    if na!=0 and column_name not in ['turbine_status','cloud_level']:
        df1[column_name]=df1[column_name].fillna(np.mean(df1[column_name]))

In [13]:
df1.isnull().sum()

tracking_id                        0
datetime                           0
wind_speed(m/s)                    0
atmospheric_temperature(°C)        0
shaft_temperature(°C)              0
blades_angle(°)                    0
gearbox_temperature(°C)            0
engine_temperature(°C)             0
motor_torque(N-m)                  0
generator_temperature(°C)          0
atmospheric_pressure(Pascal)       0
area_temperature(°C)               0
windmill_body_temperature(°C)      0
wind_direction(°)                  0
resistance(ohm)                    0
rotor_torque(N-m)                  0
turbine_status                   797
cloud_level                      125
blade_length(m)                    0
blade_breadth(m)                   0
windmill_height(m)                 0
dtype: int64

In [14]:
df1.cloud_level.unique()

array(['Medium', 'Low', nan, 'Extremely Low'], dtype=object)

In [15]:
mapping={
    'Medium':3,
    'Low':2,
    'Extremely Low':1,
    'nan':2
}
df2=df1
df2.cloud_level=df2.cloud_level.map(mapping)

In [16]:
df2.isnull().sum()

tracking_id                        0
datetime                           0
wind_speed(m/s)                    0
atmospheric_temperature(°C)        0
shaft_temperature(°C)              0
blades_angle(°)                    0
gearbox_temperature(°C)            0
engine_temperature(°C)             0
motor_torque(N-m)                  0
generator_temperature(°C)          0
atmospheric_pressure(Pascal)       0
area_temperature(°C)               0
windmill_body_temperature(°C)      0
wind_direction(°)                  0
resistance(ohm)                    0
rotor_torque(N-m)                  0
turbine_status                   797
cloud_level                      125
blade_length(m)                    0
blade_breadth(m)                   0
windmill_height(m)                 0
dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
df2['Label_turbine_status']=l.fit_transform(df2['turbine_status'])

In [18]:
df2.isnull().sum()

tracking_id                        0
datetime                           0
wind_speed(m/s)                    0
atmospheric_temperature(°C)        0
shaft_temperature(°C)              0
blades_angle(°)                    0
gearbox_temperature(°C)            0
engine_temperature(°C)             0
motor_torque(N-m)                  0
generator_temperature(°C)          0
atmospheric_pressure(Pascal)       0
area_temperature(°C)               0
windmill_body_temperature(°C)      0
wind_direction(°)                  0
resistance(ohm)                    0
rotor_torque(N-m)                  0
turbine_status                   797
cloud_level                      125
blade_length(m)                    0
blade_breadth(m)                   0
windmill_height(m)                 0
Label_turbine_status               0
dtype: int64

In [19]:
df2['cloud_level']=df2['cloud_level'].fillna(np.mean(df2['cloud_level']))

In [23]:
import pickle
f=open('model','rb')
model=pickle.load(f)

In [24]:
df2.datetime=pd.to_datetime(df2.datetime)

In [25]:
df2['Y']=df2.datetime.dt.year
df2['M']=df2.datetime.dt.month
df2['D']=df2.datetime.dt.day
df2['H']=df2.datetime.dt.hour
df2['Min']=df2.datetime.dt.minute
df2['S']=df2.datetime.dt.second

In [26]:
df3=df2.drop('Label_turbine_status',axis='columns')
df4=df2['Label_turbine_status']

In [27]:
final=pd.concat([df3,df4],axis='columns')
final.head()

,tracking_id,datetime,wind_speed(m/s),atmospheric_temperature(°C),shaft_temperature(°C),blades_angle(°),gearbox_temperature(°C),engine_temperature(°C),motor_torque(N-m),generator_temperature(°C),...,blade_length(m),blade_breadth(m),windmill_height(m),Y,M,D,H,Min,S,Label_turbine_status
0,WM_19817,2019-04-17 08:53:20,94.324266,17.641186,89.714193,51.146788,40.460560,39.594734,1073.202715,66.830037,...,3.185837,0.403965,25.572431,2019,4,17,8,53,20,8
1,WM_18723,2019-03-30 07:43:20,10.088870,13.978119,43.272846,46.516394,40.027788,41.176860,517.436430,37.284163,...,3.016603,0.444755,24.371823,2019,3,30,7,43,20,0
2,WM_34552,2019-08-10 11:33:20,347.152090,31.423035,41.076640,26.931602,43.109122,43.439556,1480.716492,70.010762,...,2.611941,0.387368,27.654677,2019,8,10,11,33,20,7
3,WM_28570,2019-06-26 03:53:20,24.471997,-99.000000,14.375078,66.513953,13.741253,15.577472,887.979475,41.445258,...,2.866805,0.450478,24.189426,2019,6,26,3,53,20,10
4,WM_36934,2019-08-27 16:43:20,96.997026,33.281836,41.405192,1.843112,121.572907,43.934587,2053.916354,68.007787,...,3.549672,0.368355,4.885440,2019,8,27,16,43,20,0

In [29]:
final.tracking_id=final.tracking_id.apply(lambda x:x[3:])

In [30]:
final.head()

,tracking_id,datetime,wind_speed(m/s),atmospheric_temperature(°C),shaft_temperature(°C),blades_angle(°),gearbox_temperature(°C),engine_temperature(°C),motor_torque(N-m),generator_temperature(°C),...,blade_length(m),blade_breadth(m),windmill_height(m),Y,M,D,H,Min,S,Label_turbine_status
0,19817,2019-04-17 08:53:20,94.324266,17.641186,89.714193,51.146788,40.460560,39.594734,1073.202715,66.830037,...,3.185837,0.403965,25.572431,2019,4,17,8,53,20,8
1,18723,2019-03-30 07:43:20,10.088870,13.978119,43.272846,46.516394,40.027788,41.176860,517.436430,37.284163,...,3.016603,0.444755,24.371823,2019,3,30,7,43,20,0
2,34552,2019-08-10 11:33:20,347.152090,31.423035,41.076640,26.931602,43.109122,43.439556,1480.716492,70.010762,...,2.611941,0.387368,27.654677,2019,8,10,11,33,20,7
3,28570,2019-06-26 03:53:20,24.471997,-99.000000,14.375078,66.513953,13.741253,15.577472,887.979475,41.445258,...,2.866805,0.450478,24.189426,2019,6,26,3,53,20,10
4,36934,2019-08-27 16:43:20,96.997026,33.281836,41.405192,1.843112,121.572907,43.934587,2053.916354,68.007787,...,3.549672,0.368355,4.885440,2019,8,27,16,43,20,0

In [33]:
x=final.drop(['datetime','turbine_status'],axis='columns')
x.columns

Index(['tracking_id', 'wind_speed(m/s)', 'atmospheric_temperature(°C)',
       'shaft_temperature(°C)', 'blades_angle(°)', 'gearbox_temperature(°C)',
       'engine_temperature(°C)', 'motor_torque(N-m)',
       'generator_temperature(°C)', 'atmospheric_pressure(Pascal)',
       'area_temperature(°C)', 'windmill_body_temperature(°C)',
       'wind_direction(°)', 'resistance(ohm)', 'rotor_torque(N-m)',
       'cloud_level', 'blade_length(m)', 'blade_breadth(m)',
       'windmill_height(m)', 'Y', 'M', 'D', 'H', 'Min', 'S',
       'Label_turbine_status'],
      dtype='object')

In [34]:
target=model.predict(x)

In [35]:
target

array([ 2.19396654,  2.14694488,  3.2159498 , ...,  4.93209424,
        4.15341646, 10.3181843 ])

In [36]:
final['windmill_generated_power(kW/h)']=target

In [37]:
result=df[['tracking_id','datetime']]
result.head()

  tracking_id            datetime
0    WM_19817 2019-04-17 08:53:20
1    WM_18723 2019-03-30 07:43:20
2    WM_34552 2019-08-10 11:33:20
3    WM_28570 2019-06-26 03:53:20
4    WM_36934 2019-08-27 16:43:20

In [38]:
result['windmill_generated_power(kW/h)']=target

<ipython-input-38-a2178bf858f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['windmill_generated_power(kW/h)']=target

In [39]:
result.head()

  tracking_id            datetime  windmill_generated_power(kW/h)
0    WM_19817 2019-04-17 08:53:20                        2.193967
1    WM_18723 2019-03-30 07:43:20                        2.146945
2    WM_34552 2019-08-10 11:33:20                        3.215950
3    WM_28570 2019-06-26 03:53:20                        5.287415
4    WM_36934 2019-08-27 16:43:20                        3.584907

In [40]:
result.shape

(12086, 3)

In [41]:
result.to_csv("final_submission.csv")